<section class="w-full h-full flex flex-column justify-content-center align-items-center">
    <div class="w-full h-full flex justify-content-center align-items-start">
            <div class="w-5 h-auto flex justify-content-start align-items-start">
                <ul>
                    <li>Fecha Desde: {{preRecibo.fecha_desde}}</li>
                    <li>Fecha Hasta: {{preRecibo.fecha_hasta}}</li>
                    <li>Fecha Creacion: {{preRecibo.fechaCreacion}}</li>
                    <li>Fecha Modificacion: {{preRecibo.fechaModificacion}}</li>
                    <li>Cuit Emisor: {{preRecibo.cuit_emisor}}</li>
                </ul>
            </div>
            <div class="w-5 h-auto flex justify-content-start align-items-start">
                <ul>
                    <li class="cursor-pointer" (click)="goToContacto(preRecibo.contactoId)">Nombre
                        Cliente:
                        {{preRecibo.razon_social}}</li>
                    <li>Numero Identificacion: {{preRecibo.nro_documento}}</li>
                    <li>Email: {{preRecibo.email_envio}}</li>
                    <li>Direccion: {{preRecibo.direccion_fiscal}}</li>
                    <li>Localidad: {{preRecibo.localidad}}</li>
                </ul>
            </div>
        </div>
        <div class="w-full h-auto flex flex-column justify-content-around align-items-center">
            <div class="w-full h-auto flex justify-content-around align-items-center">
                <h1>Importe Neto: ${{preRecibo.importe_neto}}</h1>
                <h1>Importe Iva: ${{preRecibo.importe_iva}}</h1>
                <h1>Importe Gravado: ${{preRecibo.importe_gravado}}</h1>
                <h1>Importe Total: ${{preRecibo.importe_total}}</h1>
            </div>
            <div class="w-full h-auto flex justify-content-around align-items-center">
                <h1>Importe No Gravado: ${{preRecibo.importe_no_gravado}}</h1>
                <h1>Importe Tributado: ${{preRecibo.importe_tributado}}</h1>
                <h1>Importe Excento: ${{preRecibo.importe_excento}}</h1>
            </div>
        </div>
</section>
