<p-toast></p-toast>
<section *ngIf="contacto"
    class="w-full h-auto min-h-full flex flex-column justify-content-center align-items-center p-4">
    <div class="w-full h-auto p-8 flex justify-content-between align-items-start">
        <div *ngIf="contacto.estado.nombreEstado != 'Borrador'" class="w-5rem h-5rem cursor-pointer"
            (click)="goTo('/contactos')">
            VOLVER
        </div>
        <div *ngIf="contacto.estado.nombreEstado == 'Borrador'" class="w-5rem h-5rem cursor-pointer"
            (click)="goToProspectos('borrador')">
            VOLVER
        </div>
        <div *ngIf="contacto.estado.nombreEstado == 'Borrador'" class="w-5rem h-5rem cursor-pointer"
            (click)="confirm(contacto.id)">
            CONFIRMAR
        </div>
    </div>
    <div class="w-10 h-auto flex justify-content-between">
        <div class="w-auto h-auto flex justify-content-start">
            <h1 class="mr-2"># {{contacto.id}}</h1>
            <h1>{{contacto.razonSocial}}</h1>
        </div>
        <div class="w-auto h-auto flex justify-content-end">
            <h1>{{contacto.estado.nombreEstado}}</h1>
        </div>
    </div>

    <div class="w-full h-auto border-round-2xl flex flex-column bg-black-alpha-10 m-4 p-8">
        <div class="w-full h-auto flex justify-content-center align-items-center">
            <h1 class="m-4">{{contacto.fechaDeCreacion}}</h1>
        </div>
        <div class="w-full h-full flex">
            <div class="w-6 h-full">
                <ul>
                    <li>{{contacto.celular}}</li>
                    <li>{{contacto.celular_auxiliar}}</li>
                    <li>{{contacto.email}}</li>
                    <li>{{contacto.email_auxiliar}}</li>
                    <li>{{contacto.telefono}}</li>
                    <li>{{contacto.telefono_auxiliar}}</li>
                    <li>{{contacto.direccionFiscal}}</li>
                    <li>{{contacto.localidad}} - {{contacto.pcia}} - CP: {{contacto.codigoPostal}}</li>
                </ul>
            </div>
            <div class="w-6 h-full">
                <ul>
                    <li>{{contacto.numeroDocumento}}</li>
                    <li>{{contacto.tipoDocumento}}</li>
                    <li>{{contacto.condicionIva}}</li>
                    <li>{{contacto.creador_por}}</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div *ngIf="contacto.estado.nombreEstado != 'Borrador'" class="w-full h-auto">
        <app-cuenta-corriente [cuentaCorriente]="contacto.cuentaCorriente"></app-cuenta-corriente>
    </div>
</section>
<section *ngIf="!contacto"
    class="w-full h-auto min-h-full flex flex-column justify-content-center align-items-center p-4">
    CARGANDO
</section>