.node{
    background-color: rgba(127, 255, 212, 0.58);
}

.node.archivada{
    background-color: rgb(253, 145, 145);
}

.card{
    background-color: rgb(136, 155, 136);
    padding-top: 40px;
}

::ng-deep .p-organizationchart .p-organizationchart-node-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px; /* Asegura espacio mínimo */
}

::ng-deep .p-organizationchart .p-organizationchart-line-down {
    margin-left: auto !important;
    margin-right: auto !important;
}

::ng-deep .p-organizationchart .p-organizationchart-node-content .node {
    width: 100%;
}
