<p-toast></p-toast>
<section class="w-full h-full flex flex-column justify-content-center align-items-center p-4 ">
    <div class="w-full h-auto flex justify-content-around align-items-center bg-green-100 p-3">
        <h1>CUENTA CORRIENTE</h1>
        <div>
            <h2 [ngClass]="{' text-green-500':cuentaCorriente.tipoSaldo == 'ACREEDOR',
            'text-red-500':cuentaCorriente.tipoSaldo != 'ACREEDOR'
        }">${{cuentaCorriente.saldo}}</h2>
            <p *ngIf="cuentaCorriente.tipoSaldo == 'ACREEDOR'"> A Favor</p>
            <p *ngIf="cuentaCorriente.tipoSaldo != 'ACREEDOR'"> DEBE</p>
        </div>
        <div>
            Saldo Oficial: {{saldoOficial}}
        </div>
        <div>
            Saldo Auxiliar: {{saldoAuxiliar}}
        </div>

    </div>
    <p-table [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [value]="cuentaCorriente.movimientos"
        class="w-full h-auto" dataKey="id" [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)"
        (onRowCollapse)="onRowCollapse($event)" [rowExpandMode]="'single'">
        <ng-template pTemplate="header">
            <tr>
                <th>ID Mov</th>
                <th>Comprobante ID</th>
                <th>Fecha</th>
                <th>Numero De Comprobante</th>
                <th>OF</th>
                <th>Importe</th>
                <th>Saldo Pendiente</th>
                <th>Aplicado</th>
                <th>Tipo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-movimiento>
            <tr (click)="toggleRow(movimiento)" [ngClass]="{'bg-green-100': movimiento.tipoMovimiento == 'CREDITO'}">
                <td>{{ movimiento.id }}</td>
                <td>{{ movimiento.comprobanteId }}</td>
                <td>{{ movimiento.fecha | date: 'dd/MM/yyyy' }}</td>
                <td>{{ movimiento.nroComprobante }}</td>
                <td>{{ movimiento.oficial }}</td>
                <td>{{ movimiento.importe | currency: 'USD':'symbol' }}</td>
                <td>{{ movimiento.saldoPendiente | currency: 'USD':'symbol' }}</td>
                <td>{{ movimiento.isApply }}</td>
                <td>{{ movimiento.tipoMovimiento }}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-movimiento>
            <tr class="bg-black-alpha-20">
                <td colspan="8">
                    <div class="p-3 border-1 border-300 surface-border surface-card">
                        <h5>Aplicaciones del movimiento {{ movimiento.id }}</h5>
                        <ul *ngIf="aplicacionesMap[movimiento.id]?.length; else noData">
                            <li *ngFor="let aplicacion of aplicacionesMap[movimiento.id]">
                                <div *ngIf="aplicacion.idComprobanteOrigen != movimiento.comprobanteId"
                                    class="h-auto w-auto p-1 bg-red-100">
                                    {{ aplicacion.idComprobanteOrigen }} - {{aplicacion.numeroComprobanteOrigen}}
                                    - ${{ aplicacion.importeComprobanteOrigen }} -
                                    {{aplicacion.tipoMovComprobanteOrigen}}
                                </div>
                                <div *ngIf="aplicacion.idComprobanteDestino != movimiento.comprobanteId"
                                    class="h-auto w-auto p-1 bg-blue-100">
                                    {{ aplicacion.idComprobanteDestino }} - {{aplicacion.numeroComprobanteDestino}}
                                    - ${{ aplicacion.importeComprobanteDestino }} -
                                    {{aplicacion.tipoMovComprobanteDestino}}
                                </div>
                            </li>
                        </ul>
                        <ng-template #noData>
                            <p>Cargando</p>
                        </ng-template>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</section>