<p-table #dt1 [value]="listAsientos" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
    [paginator]="true" [globalFilterFields]="['id', 'tipoDocumento', 'razonSocial']" class="w-full h-auto p-4">
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt1)" />
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (ngModel)="searchValue"
                    (input)="dt1.filterGlobal($event.target, 'contains')" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>
                <div class="flex align-items-center">
                    ID
                    <p-columnFilter type="text" field="id" display="menu" />
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    Fecha
                    <p-columnFilter type="date" field="id" display="menu" />
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    UUID
                    <p-columnFilter type="date" field="id" display="menu" />
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    Tipo Asiento
                    <p-columnFilter type="text" field="id" display="menu" />
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    Operacion
                    <p-columnFilter type="text" field="id" display="menu" />
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    OriginadaPor
                    <p-columnFilter type="text" field="id" display="menu" />
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    AnuladaPor
                    <p-columnFilter type="text" field="id" display="menu" />
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    ID Contacto
                    <p-columnFilter type="text" field="id" display="menu" />
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    Estado
                    <p-columnFilter type="text" field="id" display="menu" />
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    Acciones
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asiento>
        <tr [ngClass]="{'bg-black-alpha-10': asiento.estado.includes('ANULADO')}">
            <td (click)="goToAsiento(asiento.id)">
                {{ asiento.id }}
            </td>
            <td (click)="goToAsiento(asiento.id)">
                {{ asiento.fecha | date: 'dd/MM/yyyy'}}
            </td>
            <td (click)="goToAsiento(asiento.id)">
                {{ asiento.referenciaExterna}}
            </td>
            <td (click)="goToAsiento(asiento.id)">
                {{ asiento.tipoAsiento}}
            </td>
            <td (click)="goToAsiento(asiento.id)">
                {{ asiento.tipoOperacion}}
            </td>

            <td (click)="goToAsiento(asiento.id)">
                {{ asiento?.originada_por}}
            </td>
            <td (click)="goToAsiento(asiento.id)">
                {{ asiento?.anulado_por}}
            </td>
            <td (click)="goToAsiento(asiento.id)">
                {{ asiento.contactoId}}
            </td>
            <td (click)="goToAsiento(asiento.id)">
                {{ asiento.estado}}
            </td>
            <td>
                <p-button></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No Se encontro ningun Comprobante Cargado.</td>
        </tr>
    </ng-template>
</p-table>