<section class="w-full h-full flex flex-column justify-content-center align-items-center">
    <div class="w-full h-full flex justify-content-center align-items-start">
            <div class="w-5 h-auto flex justify-content-start align-items-start">
                <ul>
                    <li>Fecha Desde: {{preComprobante.fecha_desde}}</li>
                    <li>Fecha Hasta: {{preComprobante.fecha_hasta}}</li>
                    <li>Fecha Creacion: {{preComprobante.fechaCreacion}}</li>
                    <li>Fecha Modificacion: {{preComprobante.fechaModificacion}}</li>
                    <li>Fecha Comprobante: {{preComprobante.cbte_fecha}}</li>
                    <li>Cuit Emisor: {{preComprobante.cuit_emisor}}</li>
                </ul>
            </div>
            <div class="w-5 h-auto flex justify-content-start align-items-start">
                <ul>
                    <li class="cursor-pointer" (click)="goToContacto(preComprobante.contactoId)">Nombre
                        Cliente:
                        {{preComprobante.razon_social}}</li>
                    <li>Numero Identificacion: {{preComprobante.nro_documento}}</li>
                    <li>Email: {{preComprobante.email_envio}}</li>
                    <li>Direccion: {{preComprobante.direccion_fiscal}}</li>
                    <li>Localidad: {{preComprobante.localidad}}</li>
                </ul>
            </div>
        </div>
        <div class="w-full h-auto flex flex-column justify-content-around align-items-center">
            <div class="w-full h-auto flex justify-content-around align-items-center">
                <h1>Importe Neto: ${{preComprobante.importe_neto}}</h1>
                <h1>Importe Iva: ${{preComprobante.importe_iva}}</h1>
                <h1>Importe Gravado: ${{preComprobante.importe_gravado}}</h1>
                <h1>Importe Total: ${{preComprobante.importe_total}}</h1>
            </div>
            <div class="w-full h-auto flex justify-content-around align-items-center">
                <h1>Importe No Gravado: ${{preComprobante.importe_no_gravado}}</h1>
                <h1>Importe Tributado: ${{preComprobante.importe_tributado}}</h1>
                <h1>Importe Excento: ${{preComprobante.importe_excento}}</h1>
            </div>
        </div>
</section>