<p-toast></p-toast>

<section *ngIf="!loading" class="w-full h-full min-h-full flex flex-column justify-content-between align-items-center">
    <div class="w-full h-auto p-8 flex justify-content-start align-items-start">
        <div class="w-5rem h-5rem cursor-pointer" (click)="goTo('/contactos')">
            VOLVER
        </div>
    </div>
    <div class="h-full w-full flex justify-content-center align-items-center p-8">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()"
            class="w-9 h-full flex flex-row flex-wrap justify-content-around align-items-center p-8">
            <input class="m-3" type="text" pInputText formControlName="nombre" placeholder="nombre" />

            <input class="m-3" type="text" pInputText formControlName="apellido" placeholder="Apellido" />

            <input class="m-3" type="text" pInputText formControlName="direccion" placeholder="Direccion" />

            <input class="m-3" type="text" pInputText formControlName="altura" placeholder="Altura" />

            <p-dropdown class="m-3" formControlName="selectedCity" [options]="ciudades" optionLabel="name"
                placeholder="Ciudad" />

            <p-dropdown class="m-3" formControlName="selectedTipoDocumento" [options]="tiposDocumentos"
                optionLabel="descripcion" placeholder="Tipo Documento" />

            <p-dropdown class="m-3" formControlName="selectedCondicionIva" (onChange)="checkDniChanges()"
                [options]="condicionesIva" optionLabel="descripcion" placeholder="Condiciones de Iva" />

            <p-inputMask class="m-3" [mask]="dniMask" formControlName="dni" placeholder="Numero Identificacion" />

            <input class="m-3" type="text" pInputText formControlName="email" placeholder="Email" />

            <input class="m-3" type="text" pInputText formControlName="email_auxiliar" placeholder="Email Auxiliar" />

            <p-inputMask class="m-3" mask="9999-999999" formControlName="celular" placeholder="Celular" />

            <p-inputMask class="m-3" mask="9999-999999" formControlName="celular_auxiliar"
                placeholder="Celular Auxiliar" />

            <p-inputMask class="m-3" mask="9999-999999" formControlName="telefono" placeholder="Telefono" />

            <p-inputMask class="m-3" mask="9999-999999" formControlName="telefono_auxiliar"
                placeholder="Telefono Auxiliar" />

            <div class="m-3 flex flex-column justify-content-center align-items-center">
                <p-inputSwitch formControlName="isCliente"></p-inputSwitch>
                <label>Es Cliente</label>
            </div>

            <div class="m-3 flex flex-column justify-content-center align-items-center">
                <p-inputSwitch formControlName="isProveedor"></p-inputSwitch>
                <label>Es Proveedor</label>
            </div>


            <button pButton pRipple [disabled]="!formGroup.valid" [ngClass]="{'disabledButton': !formGroup.valid}"
                label="Submit" class="p-button-success">
            </button>
        </form>
    </div>
</section>
<section *ngIf="loading" class="w-full h-full min-h-full flex flex-column justify-content-between align-items-center">
    Cargando
</section>