<section class="w-full h-full flex flex-row-reverse justify-content-center align-items-center">
    <div class=" w-full h-full flex flex-column justify-content-start align-items-center">
        <p-table #dt1 [value]="list" dataKey="id" [rows]="5" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
            [paginator]="true" [globalFilterFields]="['id', 'tipoDocumento', 'razonSocial']" class="w-full h-auto p-4">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt1)" />
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (ngModel)="searchValue"
                            (input)="dt1.filterGlobal($event.target, 'contains')" placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex align-items-center">
                            ID
                            <p-columnFilter type="text" field="id" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Fecha Confirmacion
                            <p-columnFilter type="text" field="tipoDocumento" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Numero
                            <p-columnFilter type="text" field="razonSocial" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Cliente
                            <p-columnFilter type="boolean" field="isCliente" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Importe Neto
                            <p-columnFilter type="boolean" field="isProveedor" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Importe Iva
                            <p-columnFilter type="text" field="localidad" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Importe Total
                            <p-columnFilter type="text" field="celular" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Estado
                            <p-columnFilter type="numeric" field="saldo" display="menu" currency="USD" />
                        </div>
                    </th>
                    <th>
                        Accion
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-recibo>
                <tr [ngClass]="{'nc': recibo.preRecibo?.descripcionTipoRecibo.includes('CONTRA'),
                    'bg-black-alpha-20' :recibo.preRecibo?.estado.descripcion == 'Cancelado'
                }">
                    <td (click)="goToRecibo(recibo.id, recibo.preRecibo.oficial)">
                        {{ recibo.id }}
                    </td>
                    <td *ngIf="recibo.fecha_oficilizacion"
                        (click)="goToRecibo(recibo.id, recibo.preRecibo.oficial)">
                        {{ recibo.fecha_oficilizacion }}
                    </td>
                    <td *ngIf="recibo.fecha_confirmacion"
                        (click)="goToRecibo(recibo.id, recibo.preRecibo.oficial)">
                        {{ recibo.fecha_confirmacion }}
                    </td>
                    <td (click)="goToRecibo(recibo.id, recibo.preRecibo.oficial)">
                        {{ recibo.numero_recibo }}
                    </td>
                    <td (click)="goToRecibo(recibo.id, recibo.preRecibo.oficial)">
                        {{ recibo.preRecibo.razon_social }}
                    </td>
                    <td (click)="goToRecibo(recibo.id, recibo.preRecibo.oficial)">
                        $ {{ recibo.preRecibo.importe_neto }}
                    </td>
                    <td (click)="goToRecibo(recibo.id, recibo.preRecibo.oficial)">
                        $ {{ recibo.preRecibo.importe_iva }}
                    </td>
                    <td (click)="goToRecibo(recibo.id, recibo.preRecibo.oficial)">
                        $ {{ recibo.preRecibo.importe_total }}
                    </td>
                    <td (click)="goToRecibo(recibo.id, recibo.preRecibo.oficial)">
                        <p-tag [rounded]="true" [value]="recibo.preRecibo.estado.descripcion" />
                    </td>
                    <td>
                        <p-button *ngIf="!recibo.preRecibo.descripcionTipoRecibo.includes('CONTRA') &&
                        recibo.preRecibo.estado.descripcion != 'Cancelado'"  
                        (click)="contraRecibo(recibo)">
                        ContraComp.
                        </p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12">No Se encontro ningun Recibo Cargado.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>
<p-dialog 
    header="Header" 
    [(visible)]="showAlert" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false">
        <p>
            El comprobante que intenta Anular tiene movimientos conciliados. 
            Primero debe desconciliarlos para Anular el comprobante
        </p>
        <p-button (onClick)="goToAsiento(idAsiento)">Ir a Asiento</p-button>
</p-dialog>