# ========================
# Global
# ========================
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp

# IDEs / Editors
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# ========================
# Angular / Frontend
# ========================
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.vscode/
/frontend/.git
/frontend/.env

# ========================
# Java / Backend
# ========================
**/target/
**/.mvn/
**/.gradle/
**/*.log

# Eclipse / NetBeans
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/

# ========================
# Docker
# ========================
**/docker-compose.override.yml
**/*.pid
