<section class="w-full h-full flex flex-row-reverse justify-content-center align-items-center">
    <div class=" w-full h-full flex flex-column justify-content-start align-items-center">
        <p-table #dt1 [value]="list" dataKey="id" [rows]="5" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
            [paginator]="true" [globalFilterFields]="['id', 'tipoDocumento', 'razonSocial']" class="w-full h-auto p-4">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt1)" />
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (ngModel)="searchValue"
                            (input)="dt1.filterGlobal($event.target, 'contains')" placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex align-items-center">
                            ID
                            <p-columnFilter type="text" field="id" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Fecha
                            <p-columnFilter type="text" field="tipoDocumento" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Tipo Recibo
                            <p-columnFilter type="text" field="razonSocial" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Cliente
                            <p-columnFilter type="boolean" field="isCliente" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Importe Neto
                            <p-columnFilter type="boolean" field="isProveedor" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Importe Iva
                            <p-columnFilter type="text" field="localidad" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Importe Total
                            <p-columnFilter type="text" field="celular" display="menu" />
                        </div>
                    </th>

                    <th>
                        <div class="flex align-items-center">
                            Oficial
                            <p-columnFilter type="date" field="fechaDeCreacion" display="menu" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Estado
                            <p-columnFilter type="numeric" field="saldo" display="menu" currency="USD" />
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Punto de Venta
                            <p-columnFilter type="numeric" field="saldo" display="menu" currency="USD" />
                        </div>
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-preRecibo>
                <tr (click)="goToPreRecibo(preRecibo.id)">
                    <td>
                        {{ preRecibo.id }}
                    </td>
                    <td>
                        {{preRecibo.fechaCreacion }}
                    </td>
                    <td>
                        {{ preRecibo.descripcionTipoRecibo }}
                    </td>
                    <td>
                        {{ preRecibo.razon_social }}
                    </td>
                    <td>
                        $ {{ preRecibo.importe_neto }}
                    </td>
                    <td>
                        $ {{ preRecibo.importe_iva }}
                    </td>
                    <td>
                        $ {{ preRecibo.importe_total }}
                    </td>
                    <td>
                        {{ preRecibo.oficial }}
                    </td>
                    <td>
                        <p-tag [rounded]="true" [value]="preRecibo.estado.descripcion" />
                    </td>
                    <td>
                        {{ preRecibo.nombrePtoVenta }}
                    </td>
                    <td>
                        <p-button (onClick)="goToEditar(preRecibo.id)">Edi</p-button>
                        <p-button>Eli</p-button>
                        <p-button>Conf</p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12">No Se encontro ningun Recibo en Borrador.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>